h2.heading.heading--2.about__heading about us
+aboutVideo
blockquote.about__quote
   i.fas.fa-quote-left.about__quote--icon
   |Lorem ipsum dolor sit amet consectetur adipisicing  elit. Voluptatem fugiat, quia autem consectetur odio cupiditate veritatis quaerat, magni quidem similique repellat dicta possimus. Maxime commodi placeat quos praesentium eaque rerum.
   i.fas.fa-quote-right.about__quote--icon