h2.heading.heading--2.contact__heading contact
.contact__grid 
   .contact__details
      article.detailBox.detailBox--phone
         i.fas.fa-mobile-alt.detailBox__icon
         h4.detailBox__heading phone
         p.detailBox__info +124 2548 658
         p.detailBox__info +648 587 7814
      article.detailBox.detailBox--address
         i.fas.fa-map-marker-alt.detailBox__icon
         h4.detailBox__heading address
         p.detailBox__info main street #123
         p.detailBox__info wall street #123
      article.detailBox.detailBox--email
         i.far.fa-envelope.detailBox__icon
         h4.detailBox__heading email
         p.detailBox__info support@gmail.com
         p.detailBox__info sales@gmail.com
   h3.heading.heading--3.u-text-center.u-mb-sm get in touch
   +form


