footer.footer 
   .footer__nav 
      a.footer__navLink(href="#header") home 
      a.footer__navLink(href="#about") about 
      a.footer__navLink(href="#pricing") pricing
      a.footer__navLink(href="#contact") contact
   p.copyright 
      | Copyright &copy;  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, inventore.
      