extends ../templates/template
block home 
   header.header#header
      include ../blocks/header
   main 
      article
         section.about#about
            include ../blocks/about
         section.pricing#pricing
            include ../blocks/pricing
         section.contact#contact
            include ../blocks/contact